body
  font-size: 16px;
}

nav { /* no nav yet*/
  background color: yellow;
  height: 100px;
  margin-top: -10px;
  position: fixed;
  width: 100%;
}

section {
  margin: 0 auto;
  width: 60%;
}

h1 {
  font-family sans-serif;
  font-size: 2em;
}

.example, h3 {
  padding-top: 30px;
  text-align: center;
}

h3 {
  font-size: 20px;
}

.elementone { /*last three divs*/
  color: white;
  padding: 5px;
  background-color: grey;
}
